.home {
    /* background-color: red; */
    background-image: url("../images/LightGreyDesign.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio {
  /* background-color: red; */
  background-image: url("../images/LightBlueDesign.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 400px) {
    body {
      background-color: lightgreen;
    }
  }
  
@media screen and (min-width: 800px) {
    body {
      background-color: lavender;
    }
  }